google.client_id=
google.client_secret=

azure.client_id=
azure.client_secret=

# Should be on the form https://<slack team>.slack.com/oauth/authorize
slack.authorization_endpoint=
slack.client_id=
slack.client_secret=

idporten.client_id=
idporten.client_secret=
#idporten.redirect_uri=http://localhost:8080/id/idporten/oauth2callback

# Should be on the form https://login.microsoftonline.com/{tenantId}/v2.0
mssingle.issuer_uri=
mssingle.client_id=
mssingle.client_secret=


