<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identity Fun</title>
    <style>
        #loginDialog {
            display: none;
        }

        #identityProviders button {
            display: block;
        }
    </style>
</head>
<body>
    <h1>A demonstration of Oauth2 and OpenID Connect</h1>

    <p>
        <select name="response_type" id="response_type">
            <option selected="selected">code</option>
            <option>id_token</option>
            <option>token</option>
            <option>id_token token</option>
        </select>
    </p>

    <p id="pkceChoice">
        <label><input name="pkce" id="pkce" type="checkbox" />PKCE</label>
    </p>

    <div id="identityProviders">
    </div>

    <div id="loginDialog">
        <h2>Step 1: Redirect to authorization endpoint</h2>

        <div><a href="#" class="authorization_url">authenticate at <span class="authorization_endpoint"></span></a></div>

        <div>
            Normally, your app would redirect directly to the following URL:
            <pre class="authorization_url_debug"></pre>
        </div>
    </div>


    <pre id="userInfo"></pre>
<script src="/config/idProviders"></script>
<script>
function randomString(length) {
    const possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    let text = "";
    for (var i = 0; i < length; i++) {
        text += possible.charAt(Math.floor(Math.random() * possible.length));
    }
    return text;
}


const identityProviders = document.getElementById("identityProviders");

for (const provider in idProviderConfigurations) {
    console.log(provider, idProviderConfigurations[provider].title);

    const button = document.createElement("button");
    button.innerText = idProviderConfigurations[provider].title;
    button.dataset.provider = provider;

    identityProviders.appendChild(button);
}

async function sha256(text) {
    const binaryHash = await crypto.subtle.digest("SHA-256", new TextEncoder("utf-8").encode(text));
    return btoa(String.fromCharCode.apply(null, new Uint8Array(binaryHash)))
        .split('=')[0]
        .replace(/\+/g, '-')
        .replace(/\//g, '_');
}

async function login(e) {
    const idProviderConfig = idProviderConfigurations[e.target.dataset.provider];

    window.localStorage.setItem("loginProvider", e.target.dataset.provider);

    const loginDialog = document.getElementById("loginDialog");
    const state = randomString(20);
    window.localStorage.setItem("loginState", state);
    const nonce = randomString(30);
    const {
        authorization_endpoint, client_id, scope
    } = idProviderConfig;
    const response_type = document.getElementById("response_type").value;
    const redirect_uri = new URL("/fragments/oauth2callback.html", document.location);
    const response_mode = "fragment";

    const request = {
        client_id, redirect_uri, response_type, scope, nonce, state, response_mode
    };

    if (document.getElementById("pkce").checked && response_type === "code") {
        const code_verifier = randomString(50);
        window.localStorage.setItem("code_verifier", code_verifier);
        request.code_challenge = await sha256(code_verifier);
        request.code_challenge_method = "S256";
    } else {
        window.localStorage.removeItem("code_verifier");
    }

    const form = new FormData();
    for (const key in request) {
        form.set(key, request[key]);
    }

    const authorizationUrl = authorization_endpoint + "?" + new URLSearchParams(form);
    loginDialog.querySelector(".authorization_url").setAttribute("href", authorizationUrl);
    loginDialog.querySelector(".authorization_endpoint").innerHTML = idProviderConfig.authorization_endpoint;
    loginDialog.querySelector(".authorization_url_debug").innerHTML = authorizationUrl.replace(/[&?]/g, "\n\t$&");

    loginDialog.style.display = "block";
}

document.getElementById("identityProviders").addEventListener("click", e => login(e));
document.getElementById("response_type").addEventListener("change", e => {
    document.getElementById("pkceChoice").style.display = (e.target.value === "code") ? "block" : "none";
});
</script>
</body>
</html>
