<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oauth2 callback</title>

    <style>
        #detailsCode, #detailsToken {
            display: none;
        }
    </style>
</head>
<body>
    <h2>Step 2: Client received callback</h2>

    <div id="detailsState">
        <div class="status"></div>
    </div>

    <div id="detailsToken">
        <div class="status"></div>

        <h3>id_token decoded</h3>
        <pre id="idToken" class="idToken"></pre>

        <button onclick="verifyToken()">
            Verify token
        </button>
        <div id="verification"></div>
    </div>

    <div id="detailsCode">
        <div><button>Fetch token</button></div>

        Normally your app would directly perform a POST to <code class="token_endpoint"></code> with this payload:<br />
        <pre class="payload"></pre>
    </div>

    <p><a href=".">Front page</a></p>
</body>
<script src="/config/idProviders"></script>
<script>

const hash = location.hash.substring(1);
const parameters = JSON.parse('{"' + hash.replace(/&/g, '","').replace(/=/g,'":"') + '"}', function(key, value) { return key===""?value:decodeURIComponent(value) })

const detailsState = document.getElementById("detailsState");
const loginState = window.localStorage.getItem("loginState");
if (loginState === parameters.state) {
    detailsState.querySelector(".status").innerText = "Login state matches";
} else {
    detailsState.querySelector(".status").innerText = "Login state MISMATCH";
}
detailsState.style.display = "block";

let provider = window.localStorage.getItem("loginProvider");

function receiveIdToken() {
    const details = document.getElementById("detailsToken");

    const parts = parameters.id_token.split(".");
    const idTokenDecoded = JSON.parse(atob(parts[1]));
    const idTokenElement = details.querySelector(".idToken");
    idTokenElement.innerHTML = JSON.stringify(idTokenDecoded, null, 2);

    details.style.display = "block";
}

function receiveCode() {
    const provider = window.localStorage.getItem("loginProvider");
    const idProviderConfig = idProviderConfigurations[provider];

    const { client_id } = idProviderConfig;
    const grant_type = "authorization_code", code = parameters.code;
    const redirect_uri = new URL("/fragments/oauth2callback.html", document.location);

    const request = {
        client_id, redirect_uri, grant_type, code
    };
    const code_verifier = window.localStorage.getItem("code_verifier");
    if (code_verifier) {
        request.code_verifier = code_verifier;
    }

    const form = new FormData();
    for (const key in request) {
        form.set(key, request[key]);
    }
    const payload = new URLSearchParams(form).toString();

    const details = document.getElementById("detailsCode");

    details.querySelector(".token_endpoint").innerHTML = idProviderConfig.token_endpoint;
    details.querySelector(".payload").innerHTML = payload.replace(/[&?]/g, "\n\t$&");
    details.querySelector("button").addEventListener("click", () => fetchToken(idProviderConfig.token_endpoint, payload));

    details.style.display = "block";
}

async function fetchToken(tokenEndpoint, payload) {
    const response = fetch(tokenEndpoint, {
        method: "POST",
        headers: {
            "content-type": "application/x-www-urlencoded"
        },
        body: payload
    });
    if (!response.ok) {
        console.log(response);
        alert("Call failed: " + response.statusText);
    } else {
        const text = await response.text();

        document.getElementById("detailsToken").style.display = "block";
        document.getElementById("idToken").innerText = text;
    }
}

async function verifyToken() {
    const verification = document.getElementById("verification");
    verification.innerText = "";
    const response = await fetch("/id/" + provider + "/verify?id_token=" + parameters.id_token);
    if (!response.ok) {
        console.log(response);
        alert("Call failed: " + response.statusText);
    } else {
        const text = await response.text();
        verification.innerText = text;
    }
}


if (parameters.id_token) {
    receiveIdToken();
} else if (parameters.code) {
    receiveCode();
}


</script>
</html>
